.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.listContainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.upp-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-1 {
  height: 40px;
  border: none;
  width: 40px;
  border-radius: 40px;
  color: #ffffff;

  margin-right: 10px;
}

.name-head {
  font-weight: 500;
  font-size: 14px;
  font-family: Roboto;
  align-self: flex-start;
  margin-right: 10px;
}

.time-para {
  font-size: 14px;
  font-weight: 500;
  align-self: flex-start;
  color: #64748b;
}

.name-date-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-para {
  width: 80vw;
}

.like-delete-cont {
  padding-left: 40px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.blue-color {
  color: #0ea5e9;
}
